@media (max-width: 1900px){
    .title{
        top: -2%;
    }
}

@media (max-width:520px){
    .container{
        width: 420px;
       
    }
}

@media (max-width:435px){
    .container{
        width: 380px;
       
    }
}

@media (max-width:385px){
    .container{
        width: 320px;
       
    }

}